html, body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
    overflow: hidden;
}

body {
    background-color: #1e1e1e; 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.messageText{
    font-size: 2rem;
    /*text-align: center;*/
    /*animation: fadeIn 1s ease-in-out;*/
    perspective: 1000px;
}


.mainLetters {
    font-size: 8rem; 
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -80%);
    opacity: 0;
    transition: transform 3s ease, opacity 1s ease;
}


@keyframes scaleAndMove {
    0% {
        transform: translate(-50%, -80%) scale(1);
    }
    100% {
        transform: translate(-50vw, -60vh) scale(0.3); 
    }
}


.scaleMove {
    animation: scaleAndMove 1s forwards;
}



.imageContainer {
    position: relative;
    display: inline-block;
    z-index: 1;
}



.rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease; 
}

.rectangle1 {
    top: 10px;
    left: 10px;
    z-index: -1;
}

.rectangle2 {
    top: 25px;
    left: 25px;
    z-index: -2;
}


.imageContainer:hover .rectangle1 {
    transform: translate(10px, 10px);
}

.imageContainer:hover .rectangle2 {
    transform: translate(25px, 25px);
}


.imageContainer:hover .profilePicture {
    transform: translate(-10px, -10px);
    filter: grayscale(0%);
}


.imageContainer img {
    display: block;
    position: relative;
    z-index: 3;
}





.flashlight {
    position: absolute;
    width: 00px; 
    height: 00px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8); 
    transition: transform 0.3s ease-out;
}


.aboutMeContainer {
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    transform: translateY(10%) translateX(5%);
    opacity: 0;
    transition: opacity 0.5s ease 0s; 
}

.leftColumn {
    flex: 0 0 100px;
    text-align: left;
    position: relative;
    left: -110%;
}

.rightColumn {
    flex: 2;
    padding-left: 40px;
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 15%;
    font-size: 13px;
    transform: scaleY(1.3);
    width: calc(100% + 65%);
}

.profilePicture {
    width: 300px;
    height: 400px;
    border-radius: 1%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 1s ease; 
    filter: grayscale(100%);
}





@keyframes colorImage {
    0% {
        filter: grayscale(100%);
    }
    10% {
        filter: grayscale(90%);
    }
    20% {
        filter: grayscale(80%);
    }
    30% {
        filter: grayscale(70%);
    }
    40% {
        filter: grayscale(60%);
    }
    50% {
        filter: grayscale(50%);
    }
    60% {
        filter: grayscale(40%);
    }
    70% {
        filter: grayscale(30%);
    }
    80% {
        filter: grayscale(20%);
    }
    90% {
        filter: grayscale(10%);
    }
    100% {
        filter: grayscale(0%);
    }
}




@keyframes cursor {
    0% { 
        border-right-color: #ffffff; 
    }
    50% { 
        border-right-color: transparent; 
    }
    100% { 
        border-right-color: #ffffff; 
    }
}


.hidden {
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden; 
}



.discoverText, .discoverText2, .discoverText3 {
    display: inline-block; 
    overflow: hidden; 
    border-right: 2px solid #ffffff; 
    animation: cursor 0.9s step-end infinite;
}


#discoverText {
    margin-top: 40px; 
}


#discoverText2 {
    margin-top: 40px; 
}

#discoverText3 {
    margin-top: 40px; 
}


#projectList {
    margin-top: 20px; 
    list-style-type: square; 
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-auto-flow: row;
    gap: 10px; 
    max-height: calc(3 * 1.2em + 2 * 10px); 
    overflow: hidden; 
}

#projectList li {
    visibility: hidden; 
}



.icon {
    position: relative;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 50px;
    cursor: pointer;
    /*transform: rotate(45deg);*/
    transition: background-color 0.5s ease;
    z-index: 10;
}

.icon:before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #ff6347; 
    border-radius: 50% 50% 0 50%;
    mask: radial-gradient(circle 8px at 50% 50%, #0000 94%, #000);
}


/*tooltip to handle the text for the locations*/
.tooltip {
    position: absolute;
    top: 20px; 
    left: 40%;
    transform: translateX(-80%);
    transform: rotate(-45deg);
    background: #333333;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    scale: 1;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    /*transform: translate(-50%, -10px);*/
    transition: opacity 0.1s ease, transform 0s ease;
    pointer-events: none; 
    z-index: 20;
    animation: throb 1.5s infinite ease-in-out;
}

.icon:hover .tooltip {
    opacity: 0;
     transform: translate(-50%, -50px); 
}

 .icon:hover {
    transform: scale(1.1);
}


#backIcon { position:fixed; top: 90vh; left: 100px; }







footer {
    position: fixed;
    bottom: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 1rem 0;
    font-size: 0.65rem;
    z-index: -2;
}

.copyright {
    letter-spacing: 0.1px;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.transition {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: #000;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 999;
    pointer-events: none;
    opacity: 0;
}

.transition.active {
    opacity: 1;
    animation: scaleOut 1s 1.5s forwards;
}

@keyframes scaleOut {
    0% {
        transform: translate(-50%, -50%) scale(1); 
    }
    100% {
        transform: translate(-50%, -50%) scale(0); 
    }
}

@keyframes scaleIn {
    0% {
        transform: translate(-50%, -50%) scale(0); 
    }
    100% {
        transform: translate(-50%, -50%) scale(1); 
    }
}